
body{
    background-color: grey;
}
H2, a, H6{
    font-family: "Arial Black";
    padding-top: 15px;
    font-size: 20px;
    display: table;
    margin: 0 auto;
}
h1{
    font-size: 15px;
    display: table;
    margin: 0 auto;
    text-align: center;
}

#sous{
    background-color: #70a23e;
    border-radius: 5px;
    width: 25%;
    margin: 0 auto;
}


#encadrement{
    background-color: #70a23e;
    border-radius: 5px;
    width: 75%;
    height: 75%;
    display: table;
    margin : auto;
    padding-bottom: 25px;
}



img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 8px;
    margin-top: 25px;
}

a{
    text-shadow: 2px 2px 4px #000000;
    padding-top: 0px;
    color: darkgrey;
    text-decoration: none;
}



/*PARTIE ENTETE A INCLURE NECESSAIREMENT*/
#entete{
    height: 85px;
    margin-bottom: 3%;
    border-radius: 5px;
    color: #cccccc;
    background-color: black;
}

h6{
    font-size: 50px;
}

#lien1{
    margin: 10px;
    float: left;
}
#lien2{

    margin: 10px;
    float: right;
}
/*FIN*/





