body {
    color: #777;
    font-family: "Segoe UI",Arial,sans-serif;
}



a {
    margin-left: 10px;
    color : rgb(255, 185, 106);
}

a:hover{
    text-decoration: wavy;
    font-weight: 900;
    color : rgb(255, 185, 106);
}

.navbar-default {

    border: 1px solid #ffb96a;
    border-radius: 0px;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
}

.menu{
font-family: "Segoe UI",Arial,sans-serif;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    background-color: #ffb96a;

    font-weight: normal;
}

.navbar .navbar-nav {
    display: inline-block;
    float: right;
    vertical-align: top;
    font-size: 20px;
    font-weight: normal;
}


.navbar .navbar-collapse {
    text-align: center;

    font-weight: normal;
}

.navbar-brand{
    font-size: 25px;

    font-weight: normal;
}

#sous{
    font-size: 14px;
    border: 5px solid #ffb96a;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 50%;
    height: 20%;
}

h1{
    margin-left: 15px;
    font-size: 14px;
    text-align: center;
}

img{
    float: right;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 10%;
    width: 150px;
    height: 150px;
    border: 2px solid #ffb96a;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px #ff9d28;
    -webkit-box-shadow: 0 0 8px  #ff9d28;
    -moz-box-shadow: 0 0 8px  #ff9d28;
}

h2{
    text-align: center;
    margin-left: 10px;
}


input{
    margin-left: 10px;
    display: table;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid rgb(255, 185, 106);
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(255, 185, 106);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);

}

.tri{
    font-size: 20px;
    text-align: center;
}
