body{
    background-color: grey;
}
H2,input, h6, a{
    font-family: "Arial Black";
    padding-top: 15px;
    font-size: 20px;
    display: table;
    margin: 0 auto;
}
h1{
    font-size: 15px;
    display: table;
    margin: 0 auto;
    text-align: center;
}

#sous{
    background-color: #70a23e;
    border: darkgreen;
    border-radius: 5px;
    width: 25%;
    display: table;
    margin: 0 auto;
}


#encadrement{
    background-color: #70a23e;
    border: darkgreen;
    border-radius: 5px;
    width: 75%;
    height: 75%;
    display: table;
    margin : auto;
    padding-bottom: 25px;
}



img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
}

input{
    display: table;
    margin: 0 auto;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid rgb(0, 100, 0);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(0, 100, 0);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(119,119,119,1) ;
    box-shadow: 2px 2px 2px 0 rgba(119,119,119,1) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);

}




/*PARTIE ENTETE A INCLURE NECESSAIREMENT*/
#entete{
    height: 85px;
    margin-bottom: 3%;
    border-radius: 5px;
    color: #cccccc;
    background-color: black;
}

h6{
    font-size: 50px;
}

#lien1{
    margin: 10px;
    float: left;
}
#lien2{

    margin: 10px;
    float: right;
}
a{
    text-shadow: 2px 2px 4px #000000;
    padding-top: 0px;
    color: darkgrey;
    text-decoration: none;
}
/*FIN*/
